/* loading page */
.loading-inner span {
  letter-spacing: 10px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .payment-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 14px 40px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .payment-button:hover {
    background-color: #45a049;
  }